name: RestAssured Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21.0.5'
          distribution: 'temurin'
          cache: 'maven'
      - name: Build with Maven and run RestAssured smoke tests
        run: mvn clean install -Dtestngxml="testng_api.xml" -Dgroups=
      - name: Archive test reports
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: test-reports
          path: test-output/extent-report.html